<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <title>Contact Us</title>
</head>

<body>
    <header class="topbar">
        <a href="index.html">Home</a>
    </header>
    <main class="content">
        <h1>Contact Us</h1>
        <p>If you have any questions or inquiries, please feel free to contact our key developers:</p>

        <ul>
            <li><strong>Arfat Mohammed</strong> - Email: <a href="mailto:arfat@example.com">arfat@example.com</a></li>
            <li><strong>David Jayeoba</strong> - Email: <a href="mailto:david@example.com">david@example.com</a></li>
            <li><strong>Ryan Solciansky</strong> - Email: <a href="mailto:ryan@example.com">ryan@example.com</a></li>
        </ul>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 Love the Music LTD. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>